@charset "UTF-8";

@import url(font/pretendard.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Common styles and variables */

/* CSS variables for colors and typography */
:root {
  --color-primary: #3B82F6;
  --color-secondary: #0D9AFF;
  --color-navy: #2c40b1;
  --color-accent: #FF6B6B;
  --color-light: #fafafa;
  --color-dark: #0f173a;

  --color-text: #222;
  --color-text-gray: #555;
  --color-text-light: #999;
  --color-background: #eee;
  --color-text-index: #64748B;

  --color-muted: #6c779b;
  --color-border: #e5e8f1;
  --color-shadow: rgba(204, 204, 204, 0.6);

  --font-family-base: 'Pretendard', sans-serif;
  --max-width: 1280px;
}

/* --wide-width: 1620px; 전체너비에서 양쪽 150px 여백 사용 */

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  font-weight: 400;
}

/* Inner container used to center content */
.inner {
  width: 86%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

/* Clearfix helper */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Button 공통디자인 */
.btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  border-radius: 0.6rem;
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-size: 1rem;
}


/* 서브페이지 섹션 공통 사항 */

/* 서브 상단(.sub-top) 공통 디자인*/
section.sub-top {
  width: 100%;
  height: 460px;
  background-color: var(--color-secondary);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* background-image는 각 페이지 css에서! */
  position: relative;
}

section.sub-top .page-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

  color: rgb(255, 255, 255);
  text-align: center;
}

section.sub-top .page-title .ko-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 8px;
}

section.sub-top .page-title .en-title {
  font-family: "Alexandria", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}





/* Content 섹션 공통 너비 설정 */
section.content {

  width: 90%;
  max-width: 1620px;
  /* 양쪽 여백 150px 고려 */
  margin: 140px auto 160px;

  /* background-color: lightgoldenrodyellow; */
}